.footerWrapper {
  padding: 2rem 6rem;
  color: #ffffff;
  .hrLine {
    border: 1px solid #ff7200;
  }
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .socialLinks {
    display: flex;
    gap: 2rem;
    img {
      width: 40px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 900px) {
  .footerWrapper {
    padding: 2rem 1.5rem;
    .footerContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      .title {
        text-align: center;
      }
    }
  }
}
